.venv/
venv/
**/venv/
__pycache__/
*.pyc

.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

*.keras
*.h5

new_nature_dataset/
LLM_project_using_fingerprints/
gradcam_server/venv/
